classify==0.5.0
dbus-python==1.2.16
ffmpeg-python==0.2.0
Flask==2.2.2
gitdb==4.0.10
GitPython==3.1.29
Jinja2==3.1.2
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
numpy==1.23.4
oauthlib==3.1.0
packaging==21.3
pandas==1.5.1
pandas-stubs==1.5.2.221213
praw==7.6.1
prawcore==2.3.0
pypi-install==0.0.5
python-dotenv==0.21.
python3-xlib==0.15
pytube==12.1.0
replicate==0.4.0
Scrapy==2.7.1
SecretStorage==2.3.1