* {
  margin: 0;
  padding: 0;
}

.navbar {
  box-shadow: 0px 3px 7px -7px rgba(0, 0, 0, 0.8);
}

.navbar-brand,
.nav-item {
  font-weight: 600;
}

.nav-item {
  margin-left: 10px;
}

.nav-btn {
  background-color: #f0f0f0 !important;
  border-radius: 10px !important;
}

.nav-btn a {
  text-decoration: none;
  color: rgb(63, 63, 63);
  margin-left: 6px;
  font-weight: 500;
}

.search-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-main__input-container {
  display: flex;
  align-items: center;
  margin: 20% auto 20px auto;
  width: 100%;
  background-color: #f0f0f0;
  padding: 7px 2px 7px 7px;
  border-radius: 30px;
}

.search-main__input-container input {
  flex: 1;
  background: transparent;
  outline: 0;
  border: none;
  font-weight: 600;
}

.search-main__input-container input::placeholder {
  color: #696969;
}

.search__icon i {
  font-size: 18px;
}

.search-main__input-container i {
  cursor: pointer;
  margin: 0 10px;
}

.generate__icon i {
  background-color: #ffffff;
  padding: 7px;
  border: 3px solid #4b4b4b;
  border-radius: 999px;
}

.result-section {
  text-align: center;
}

.result-section span {
  font-size: 20px;
  color: #696969;
}

.additional-box {
  border: 2px solid #f0f0f0;
  margin: auto;
  border-radius: 30px;
}

.additional-box .icon i {
  font-size: 40px;
}

.additional-box input {
  background-color: #d9d9d9;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 15px;
  padding: 2px 20px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.7px;
}

.additional-box .option span {
  font-size: 16px;
  font-weight: 700;
  color: #4b4b4b;
  margin-right: 10px;
}

.buttons-section {
  margin: 20px auto 0 auto !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttons-section .btn {
  border-radius: 30px;
  padding: 5px 10px;
  width: 200px;
}

.buttons-section .btn span {
  color: #ffffff;
  font-size: 16px;
}
