{% extends "base.html" %}

{% block content %}
<div class="container">
    <img class="picture" src="../static/images/sentientai.png" alt="A picture representing your team or mission">
    <div class="text-content">
        <div class="title">
            <img class="icon" src="../static/images/sentienticon.png" alt="Sentient icon">
            <p class="text-muted" style="text-decoration: underline;">ABOUT</p>
        </div>
        <p class="lead">Bridging the gap between human empathy and machine thinking.</p>
        <p class="text-muted">We are a team of passionate disruptors around the world interested in building a better,
            more inspiring and empathetic future through the ethic use of AI technology.</p>
    </div>
</div>
{% endblock %}