{% extends "base.html" %}

{% block content %}
<div class="container">
    <img class="picture" src="../static/images/sentientai.png" alt="A picture representing your team or mission">
    <div class="text-content">
        <div class="title">
            <img class="icon" src="../static/images/sentienticon.png" alt="Sentient icon">
            <p class="text-muted" style="text-decoration: underline;">CONTACT US</p>
        </div>

        <p class="lead">We are open to collaborate with people all over the world.</p>
        <p class="text-muted">We would love to recieve your message, so don't hesitate to contact us. We are passionate about technology and the ethic use of AI. </p>
    </div>
</div>
{% endblock %}