{% extends "base.html" %} {% block content %}
<div class="container">
  <img
    class="picture"
    src="../static/images/sentientai.svg"
    alt="sentientai image"
  />
  <div class="text-content">
    <div class="title">
      <img
        class="icon"
        src="../static/images/blackfeather.png"
        alt="Sentient icon"
      />
      <p class="text-muted" style="text-decoration: underline">CONTACT US</p>
    </div>

    <p class="lead">
      We are open to collaborate with people all over the world.
    </p>
    <p class="text-muted">
      We would love to receive your message, don't hesitate to contact us.
      Newsboy is currently in public alpha release and in Seed funding stage, if
      you are a VC or an angel investor interested in helping build and scale
      Newsboy, please reach out to <a
        href="mailto:investors@editorasentient.com.br"
        style="color: #83a7b0"
        >investors@editorasentient.com.br</a
      >.
    </p>
  </div>
</div>
{% endblock %}
