{% extends "base.html" %}

{% block content %}
<div class="container">
    <img class="picture" src="../static/images/ethics.png" alt="ethics doc">
    <div class="text-content">
        <div class="title">
            <img class="icon" src="../static/images/sentienticon.png" alt="Sentient icon">
            <p class="text-muted" style="text-decoration: underline;">ETHICS</p>
        </div>

        <p class="lead">Responsible innovation is a collaborative endeavour.</p>
        <p class="text-muted">When fire was first discovered, people soon realized that it could be utilized not only to protect and defend but also to attack and subdue. As the first technology that kickstarted all the others, fire was extremely powerful because it represented the core natural concept of survival. Technology will always be the necessary tool for society to find new horizons and explore new possibilities but it should always be used with caution and empathy for a greater future. Fire has been rediscovered and it is called AI! If new approaches need to be invented for a new solution that was found, what should be the core foundational principles for innovation?</b>
        </p>
        <div class="ethics-list">
        <h5>Our Sentient Principles for an Ethical Approach to AI</h5>
            1 - AI Should never harm humans in any way.<br>
            2 - AI Should never deceive.<br>
            3 - AI Should not be toxic or exclusive.<br>
            4 - AI Should not be used for malicious purposes.<br>
            5 - AI Should not infringe the copyright of humans.<br>
            6 - AI content generators should be labeled as such.<br>
            7 - AI Should not exploit user data and privacy.<br>
            8 - AI should not promote or reinforce stereotypes.<br>
            9 - AI Should not advise users to perform illegal actions.<br>
            10 - Organizations using AI should take responsibility for its outcomes and impacts.<br>
        <br>
        <h5 class="text-muted">Resources:</h5>
        <a class="text-muted" href="https://www.deepmind.com/publications/ethical-and-social-risks-of-harm-from-language-models">https://www.deepmind.com/publications/ethical-and-social-risks-of-harm-from-language-models</a>
        </div>
    </div>
</div>
{% endblock %}