{% extends "base.html" %}

{% block content %}
<div class="container">
    <img class="picture" src="../static/images/ethics.png" alt="ethics doc">
    <div class="text-content">
        <div class="title">
            <img class="icon" src="../static/images/sentienticon.png" alt="Sentient icon">
            <p class="text-muted" style="text-decoration: underline;">ETHICS</p>
        </div>

        <p class="lead">Responsible innovation is a collaborative endeavour.</p>
        <p class="text-muted">Once upon a time, humanity only communicated through archaic languages. Information, myths
            and tales were expressed with paintings on a wall and stories were told around pit fires through long lost
            ancestral idioms.
            <br><br>
            Writing was invented. History, ideas, opinions, ethics, morals and all forms of culture started being not
            only spread in a much faster pace, but also documented for future generations. The knowledge from our
            ancestors was preserved and they gave us the necessary way to further push science and innovate.
            <br><br>
            Machines were invented, our time and dreams were too valuable for us to spend it on repetitive and manual
            tasks so we industrialized production and started trailblazing our way towards a future filled with more
            food and tools, making it possible for us to focus on solving new problems.
            <br><br>
            Then we created languages for machines and found ourselves in the information age, where the whole globe and
            all nations met and shared information through what we know as internet protocol. We dind't just push the
            boundaries, we created a new digital dimension where everyone woud co-live and freely communicate
            bi-directionally.
            <br><br>
            Fast forward, we are in the present, opening the doors of the AI native economy where machines not only talk
            back to us but they are able to interpret our words and provide us with exactly what we need. As our
            creation, we need to recognize that AI is here to be a perfect extension of our creative and technicals
            skills and it is up to us to make the best possible use of it.
            <br><b>Do you feel ready?</b>
        </p>
        <div class="ethics-list">
        <h5>The Sentient Principles for an Ethical Approach to AI</h3>
            1 - AI Should never harm humans in any way.<br>
            2 - AI Should never deceive.<br>
            3 - AI Should not be toxic or exclusive<br>
            4 - AI Should not be used for malicious purposes<br>
            5 - AI Should not infringe the copyright of humans<br>
            6 - AI content generators should be labeled as such<br>
            7 - AI Should not exploit user data and privacy<br>
            8 - AI should not promote or reinforce stereotypes<br>
            9 - AI Should not advise users to perform ilegal actions<br>
        <br>
        <h5 class="text-muted">Resources:</h5>
        <a class="text-muted" href="https://www.deepmind.com/publications/ethical-and-social-risks-of-harm-from-language-models">https://www.deepmind.com/publications/ethical-and-social-risks-of-harm-from-language-models</a>
        </div>
    </div>
</div>
{% endblock %}