{% extends "base.html" %}

{% block content %}
<div class="container">
    <img class="picture" src="../static/images/sentientai.png" alt="A picture representing your team or mission">
    <div class="text-content">
        <p class="text-muted" style="text-decoration: underline;">ETHICS</p>

        <p class="lead">Responsible innovation is a collaborative endeavour.</p>
        <p class="text-muted">To disrupt means to interrupt a system by causing a disturbance. We intend to not only
            reinvent structures, but also help provide a guideline on how to innovate holistically taking all the
            prominent risks of technology into consideration.</p>
    </div>
</div>
{% endblock %}