{% extends "base.html" %}

{% block content %}
<h1>Search News</h1>
<form action="/" method="POST">
  <label for="search_query" class="search-icon"></label>
  <i class="fas fa-search"></i>

  <input type="text" id="search_query" name="search_query" value="Generate a News Headline">
  <input type="submit" id="search-submit" value="Search">
</form>
{% if articles %}
<div class="results_box">
  <p>Results: {{ articles|length }} articles found</p>
  <ul class="articles">
    {% for article in articles %}
    <div class="simplebar">
      <div class="article">
        <li><i class="fas fa-newspaper"></i>
          <a href="{{ article.url }}" target="_blank">{{ article.title }}</a><br>
          Category: {{ article.category }} by {{ article.author }}</li>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </ul>
</div>
{% endblock %}