{% extends "base.html" %}

{% block content %}
<div class="container">
    <img class="picture" src="../static/images/sentientai.png" alt="A picture representing your team or mission">
    <div class="text-content">
        <div class="title">
            <img class="icon" src="../static/images/sentienticon.png" alt="Sentient icon">
            <p class="text-muted" style="text-decoration: underline;">MANIFESTO</p>
        </div>

        <p class="lead">United by the cause of fostering sustainable innovation.</p>
        <p class="text-muted">Once upon a time we lived in a world where humans were only able to provide instructions
            to machines. Now machines talk back to humans and we are seeing a revolution happen in front of our eyes.
        </p>
        <img class="calltoaction" src="../static/images/btnmanifesto.png" alt="call to action">
    </div>
</div>
{% endblock %}