{% extends "base.html" %} {% block content %}
<div class="center">
  <img
    src="../static/images/newsboyillustration.svg"
    alt="Newsboy"
    width="200px"
  />
</div>
<form action="/newsboy" method="POST" onsubmit="startSpinner()">
  <label for="search_query" class="search-icon"></label>
  <i class="fas fa-search"></i>
  <input
    type="text"
    id="search_query"
    name="search_query"
    value="Generate a News Headline"
    autocomplete="off"
  />
  <input type="submit" id="search-submit" value="Search" />
</form>

<div id="results_box">
  <div id="spinner">
    <div class="spinner-border" role="status"></div>
  </div>

  {% if articles %}
  <p>Results: {{ articles|length }} articles found</p>
  <ul class="articles">
    {% for article in articles %}
    <div class="simplebar">
      <div class="article">
        <li>
          <i class="fas fa-newspaper"></i>
          <a href="{{ article.url }}" target="_blank">{{ article.title }}</a
          ><br />
          Category: {{ article.category }} Date: {{ article.date }}
          {{article.color}}
        </li>
      </div>
    </div>
    {% endfor %}
  </ul>
  {% endif %}
</div>

<script>
  function startSpinner() {
    document.getElementById("spinner").style.display = "block";
  }
</script>
{% endblock %}
