{% extends "base.html" %} {% block content %}
<div class="center" style="margin: 2rem">
  <h3 style="color: #83a7b0; font-weight: 300" ;>How to use Newsboy</h3>
  <p class="text-muted">
    We currently support a limited amount of news categories.
  </p>
  <div class="categories">
    <div class="badge">
      <div class="text-muted">Technology</div>
    </div>
    <div class="badge">
      <div class="text-muted">AI</div>
    </div>
    <div class="badge">
      <div class="text-muted">Business</div>
    </div>
    <div class="badge">
      <div class="text-muted">Health</div>
    </div>
    <div class="badge">
      <div class="text-muted">Climate change</div>
    </div>
    <div class="badge">
      <div class="text-muted">International affairs</div>
    </div>
  </div>
  <div class="example" style="padding-bottom: 0px">
    <p class="text-muted">
      <span style="font-weight: bolder">Prompt example:</span> “Search for a
      positive <span style="font-weight: bolder">[technology]</span> news"
    </p>
  </div>
</div>
<div class="center">
  <img
    src="../static/images/newsboyillustration.png"
    alt="Newsboy"
    width="200px"
  />
</div>
<form action="/newsboy" method="POST" onsubmit="startSpinner()">
  <label for="search_query" class="search-icon"></label>
  <i class="fas fa-search"></i>
  <input
    type="text"
    id="search_query"
    name="search_query"
    value="Generate a News Headline"
    autocomplete="off"
  />
  <input type="submit" id="search-submit" value="Search" />
</form>

<div id="results_box">
  <div id="spinner">
    <div class="spinner-border" role="status"></div>
  </div>

  {% if articles %}
  <p>Results: {{ articles|length }} articles found</p>
  <ul class="articles">
    {% for article in articles %}
    <div class="simplebar">
      <div class="article">
        <li>
          <i class="fas fa-newspaper"></i>
          <a href="{{ article.url }}" target="_blank">{{ article.title }}</a
          ><br />
          Category: {{ article.category }} Date: {{ article.date }}
          {{article.color}}
        </li>
      </div>
    </div>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% endblock %}
